

config system global
    set hostname test1
end


config system admin
    edit "admin"
        set password asd
    next
end



config system snmp sysinfo
    set location "asd"
end



config system snmp community
    edit 1
        set name "public"
        set status enable
        set query-v1-status enable
        set query-v2c-status enable
        set events cpu-high mem-low log-full intf-ip ip-conf-chg ent-conf-chg fm-conf-chg ha-switch
    next
end



config switch stp-settings
    set status enable
    set bridge-priority 32768
end




config switch interface
    edit "Access_VLAN_Port"
        set description "Access VLAN port"
        set mode access
        
        set vlan 10
        
        
        set stp enable
        
        unset shutdown
    next
end

config switch interface
    edit "Trunk_to_AP"
        set description "Trunk to AP"
        set mode trunk
        
        set allowed-vlans "10,20"
        
        
        unset shutdown
    next
end

config switch interface
    edit "Uplink_to_Core"
        set description "Uplink to Core"
        set mode trunk
        
        set allowed-vlans "10,20,30"
        
        
        set stp disable
        
        unset shutdown
    next
end

config switch interface
    edit "Parking_Lot"
        set description "Parking Lot"
        set mode access
        
        set vlan 999
        
        
        set stp disable
        
        set shutdown
    next
end




config system interface
    edit "vlan10"
        set vdom "root"
        set ip  
        set allowaccess ping
        set vlanid 10
        set interface "internal"
    next
end

config system interface
    edit "vlan20"
        set vdom "root"
        set ip  
        set allowaccess ping
        set vlanid 20
        set interface "internal"
    next
end

config system interface
    edit "vlan30"
        set vdom "root"
        set ip 10.0.0.1 255.255.255.255
        set allowaccess ping
        set vlanid 30
        set interface "internal"
    next
end

config system interface
    edit "vlan40"
        set vdom "root"
        set ip  
        set allowaccess ping
        set vlanid 40
        set interface "internal"
    next
end

config system interface
    edit "vlan50"
        set vdom "root"
        set ip  
        set allowaccess ping
        set vlanid 50
        set interface "internal"
    next
end

config system interface
    edit "vlan60"
        set vdom "root"
        set ip  
        set allowaccess ping
        set vlanid 60
        set interface "internal"
    next
end




config system tacacs+
    edit 1
        set server 192.0.2.200
        set key "asd"
    next
end




config system ntp
    set type custom
    
    set server1 "0.eu.pool.ntp.org"
    
    set server2 "1.eu.pool.ntp.org"
    
end




config log syslogd setting
    set status enable
    
    set server1 "10.x.x.x"
    
end
