hostname test-10
!
interface vlan 10
 description Users
 ip address fill in with your VLAN IP 255.255.255.0
!
interface vlan 20
 description Servers
 ip address fill in with your VLAN IP 255.255.255.0
!
interface vlan 30
 description Management
 ip address fill in with your VLAN IP 255.255.255.0
!
interface vlan 40
 description VoIP
 ip address fill in with your VLAN IP 255.255.255.0
!
interface vlan 50
 description Wireless
 ip address fill in with your VLAN IP 255.255.255.0
!
interface vlan 60
 description Parking_Lot
 ip address fill in with your VLAN IP 255.255.255.0
!
interface Gi1/0/1
 description Access VLAN port
 switchport mode access
 switchport access vlan 10
 no shutdown
 spanning-tree portfast
!
interface Gi1/0/2
 description Trunk to AP
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface Gi1/0/3
 description Access VLAN port
 switchport mode access
 switchport access vlan 10
 no shutdown
 spanning-tree portfast
!
interface Gi1/0/4
 description Trunk to AP
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface Gi1/0/5
 description Access VLAN port
 switchport mode access
 switchport access vlan 10
 no shutdown
 spanning-tree portfast
!
interface Gi1/0/6
 description Trunk to AP
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface Gi1/0/7
 description Access VLAN port
 switchport mode access
 switchport access vlan 10
 no shutdown
 spanning-tree portfast
!
interface Gi1/0/8
 description Trunk to AP
 switchport mode trunk
 switchport trunk allowed vlan 10,20
 no shutdown
!
interface Gi1/0/9
 description Uplink to Core
 switchport mode trunk
 switchport trunk allowed vlan 10,20,30
 no shutdown
!
interface Gi1/0/10
 description Parking Lot
 switchport mode access
 switchport access vlan 999
 shutdown
!
interface Loopback0
 ip address 10.1.1.1 255.255.255.255
!
snmp-server location asdfsdfafds
!
ntp server 0.eu.pool.ntp.org
ntp server 1.eu.pool.ntp.org
!
logging host fill in with your syslog server IP
logging trap informational
!
ip domain-name eu.corp.com
ip name-server 8.8.8.8
ip name-server 8.8.4.4
!
tacacs-server key iuabnsdfiubndfasdiouandcicn
!
ip access-list extended Management_access
 permit ip 192.0.2.10
 permit ip 192.0.2.11
 deny ip any
!