config system global
    set hostname test-19
end


# === Interface Configuration ===

config system interface
    edit "Gi1/0/1"
        set description "Access VLAN port"
        set interface-mode access
        
        set vlanid 10
        
        
        set status up
        
    next
end

config system interface
    edit "Gi1/0/2"
        set description "Trunk to AP"
        set interface-mode trunk
        
        set vlanforward 10,20
        
        
        set status up
        
    next
end

config system interface
    edit "Gi1/0/3"
        set description "Access VLAN port"
        set interface-mode access
        
        set vlanid 10
        
        
        set status up
        
    next
end

config system interface
    edit "Gi1/0/4"
        set description "Trunk to AP"
        set interface-mode trunk
        
        set vlanforward 10,20
        
        
        set status up
        
    next
end

config system interface
    edit "Gi1/0/5"
        set description "Access VLAN port"
        set interface-mode access
        
        set vlanid 10
        
        
        set status up
        
    next
end

config system interface
    edit "Gi1/0/6"
        set description "Trunk to AP"
        set interface-mode trunk
        
        set vlanforward 10,20
        
        
        set status up
        
    next
end

config system interface
    edit "Gi1/0/7"
        set description "Access VLAN port"
        set interface-mode access
        
        set vlanid 10
        
        
        set status up
        
    next
end

config system interface
    edit "Gi1/0/8"
        set description "Trunk to AP"
        set interface-mode trunk
        
        set vlanforward 10,20
        
        
        set status up
        
    next
end

config system interface
    edit "Gi1/0/9"
        set description "Uplink to Core"
        set interface-mode trunk
        
        set vlanforward 10,20,30
        
        
        set status up
        
    next
end

config system interface
    edit "Gi1/0/10"
        set description "Parking Lot"
        set interface-mode access
        
        set vlanid 999
        
        
        set status down
        
    next
end




# === VLAN Interfaces ===
config system interface

    edit "Vlan10"
        set vdom "root"
        set ip 10.x.x.x 255.255.255.0
        set allowaccess ping
        set interface "any"
        set vlanid 10
        set description "Users VLAN"
    next

    edit "Vlan20"
        set vdom "root"
        set ip 10.x.x.x 255.255.255.0
        set allowaccess ping
        set interface "any"
        set vlanid 20
        set description "Servers VLAN"
    next

    edit "Vlan30"
        set vdom "root"
        set ip 10.x.x.x 255.255.255.0
        set allowaccess ping
        set interface "any"
        set vlanid 30
        set description "Management VLAN"
    next

    edit "Vlan40"
        set vdom "root"
        set ip 10.x.x.x 255.255.255.0
        set allowaccess ping
        set interface "any"
        set vlanid 40
        set description "VoIP VLAN"
    next

    edit "Vlan50"
        set vdom "root"
        set ip 10.x.x.x 255.255.255.0
        set allowaccess ping
        set interface "any"
        set vlanid 50
        set description "Wireless VLAN"
    next

    edit "Vlan60"
        set vdom "root"
        set ip 10.x.x.x 255.255.255.0
        set allowaccess ping
        set interface "any"
        set vlanid 60
        set description "Parking Lot VLAN"
    next

end



# === Loopbacks ===
config system interface

    edit "Loopback0"
        set ip 10.10.10.1 255.255.255.255
        set type loopback
        set description "Loopback Interface"
    next

end
