config system global
    set hostname {{ hostname }}
end

{% if interfaces %}
# === Interface Configuration ===
{% for iface in interfaces %}
config system interface
    edit "{{ iface.name }}"
        set description "{{ iface.description }}"
        set interface-mode {% if iface.mode == 'access' %}access{% else %}trunk{% endif %}
        {% if iface.mode == 'access' and iface.vlan %}
        set vlanid {{ iface.vlan }}
        {% elif iface.mode == 'trunk' and iface.allowed_vlans %}
        set vlanforward {{ iface.allowed_vlans }}
        {% endif %}
        {% if iface.no_shutdown == false %}
        set status down
        {% else %}
        set status up
        {% endif %}
    next
end
{% endfor %}
{% endif %}

{% if vlan_interfaces %}
# === VLAN Interfaces ===
config system interface
{% for vlan in vlan_interfaces %}
    edit "Vlan{{ vlan.id }}"
        set vdom "root"
        set ip {{ vlan.ip_address }} {{ vlan.subnet_mask }}
        set allowaccess ping
        set interface "any"
        set vlanid {{ vlan.id }}
        set description "{{ vlan.description }}"
    next
{% endfor %}
end
{% endif %}

{% if loopbacks %}
# === Loopbacks ===
config system interface
{% for lb in loopbacks %}
    edit "Loopback{{ lb.id }}"
        set ip {{ lb.ip_address }} {{ lb.subnet_mask }}
        set type loopback
        set description "{{ lb.description }}"
    next
{% endfor %}
end
{% endif %}